---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Events from "../components/Events.astro";
import Jobs from "../components/Jobs.astro";
import OpenSource from "../components/OpenSource.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Events />
    <Jobs />
    <OpenSource />
    <Contact />
  </main>
  <Footer />
</Layout>
